NODE_ENV=local
PORT=3000
HOST=0.0.0.0
DEBUG=true

DRIZZLE_SQL_LOGGER=true

PASSWORD_BCRYPT_SALT=4
SESSION_JWT_SECRET=1511
SESSION_JWT_LIVETIME=86400

POSTGRES_PORT=5432
POSTGRES_DB=origin
POSTGRES_USER=sync
POSTGRES_PASSWORD=1511
POSTGRES_ROOT_PASSWORD=password

POSTGRES_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

DOMAIN=your.domain.com